@using TravelAgencyCoreProject.CQRS.Results.GuideResults
@model List<GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h3>Guide List CQRS MediatR</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Image</th>
        <th>Guide Name</th>
        <th>Explanation</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
<tr>
    <td>@count</td>
    <td><img src="@item.Image" height="50" width="50" /></td>
    <td>@item.Name</td>
    <td>@item.Description</td>
    <td><a href="@Url.Action("DeleteGuide", "GuideMediatR", new{id = @item.GuideID})" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="#" class="btn btn-outline-success">Update</a></td> @*@Url.Action("GetGuides", "GuideMediatR", new{id = @item.GuideID})*@
</tr>
    }
</table>
<a href="@Url.Action("AddGuide","GuideMediatR")" class="btn btn-outline-primary">Add New Guide</a>