@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update Destination</h1>


<form method="post">
    @*@Html.HiddenFor(x => x.DestinationID)*@
    <input type="hidden" asp-for="DestinationID" />
    <div class="form-group">
        @Html.Label("City")
        <input type="text" asp-for="City" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Days&Nights")
        <input type="text" asp-for="DayNight" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Price")
        <input type="text" asp-for="Price" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Image")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Descriotion")
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Capacity")
        <input type="text" asp-for="Capacity" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Cover Image")
        <input type="text" asp-for="CoverImage" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Image2")
        <input type="text" asp-for="Image2" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Detail1")
        <textarea cols="30" rows="5" class="form-control" asp-for="Details1"></textarea>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Detail2")
        <textarea cols="30" rows="5" class="form-control" asp-for="Details2"></textarea>
    </div>
    <br />
    <button class="btn btn-outline-primary">Update a Destination</button>
</form>

